.app {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0.8)
  );
}

.hero {
  .hero-video {
    width: 100%;
    height: 80vh;
  }
  .hero-info {
    position: absolute;
    top: 80%;
    width: 100%;
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    color: #f1f1f1;
    /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    .hero-title {
      margin: 0;
    }
    .mute-button {
      background: rgba(0, 0, 0, 0.5);
      width: 3rem;
      height: 3rem;
      border-radius: 3rem;
      border: 1px solid #f1f1f1;
      color: #f1f1f1;
      text-decoration: none;
      &:hover {
        background: rgba(100, 100, 100, 0.5);
      }
      &:focus {
        outline: 0;
      }
    }
  }
}

.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
  padding: 1rem 4%;
}

@media (min-width: 800px) {
  .movie-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .movie-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .movie-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.movie {
  position: relative;
  text-align: center;
  display: flex;
  cursor: pointer;
  transition: 0.5s ease;
  .image {
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: 0.5s ease;
  }
  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    opacity: 0;
    transition: 0.5s ease;
  }

  &:hover {
    .overlay {
      opacity: 0.5;
    }
    .info {
      opacity: 1;
    }
    transform: scale(1.1);
    z-index: 1;
  }
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 68px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 4%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0)
  );

  .netflix-logo {
    width: 6rem;
    height: auto;
  }
  .menu {
    display: block;
  }
  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    li {
      margin-left: 1rem;
    }
  }
  .nav-link {
    font-size: 0.9rem;

    color: white;
    text-decoration: none;
  }
  .nav-link:hover {
    opacity: 0.5;
    transition: 0.5s ease;
  }
}
